@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    /* font-family: 'Lato', monospace, sans-serif; */
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Montserrat', 'Poppins', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    user-select: none;
}



body{
    margin: 0; padding: 0;
    background: #fff;
    /* background: #EEEEEE; */
    /* font-family: 'Lato', sans-serif; */
}

::-webkit-scrollbar{
    width: 8px;
  }
  
  ::-webkit-scrollbar-track{
    background: #e7e7e7;
  }
  
  ::-webkit-scrollbar-thumb{
    background: #c0c0c0;
    border-radius: 4px;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover{
    /* background: $primaryColor; */
    background: #9b9b9b;
  }